#allelse{
	z-index:0;
}

#vote{
	position: absolute;
	z-index: 3;
	top: 600px;
	left: 100px;
}

#fam{
	position: absolute;
	z-index: 3;
	top: 550px;
	left: 500px;
}

#vol{
	position: absolute;
	z-index: 3;
	top: 350px;
	right: 100px;
}

#title{
	position: absolute;
	z-index: 3;
	top: 100px;
	left: 100px;
	font-size: 70px;
	width: 800px;
}

#bigGraph {
	position: absolute;
	z-index: 2;
	top: 100px;
	left: 0px;
}

td{
	padding: 5px;
}

.overlay {
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}


td:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  width: 200px;
}

.ways {
  text-transform: uppercase;
  z-index: 1;
  transition: top .5s ease;
  opacity: 0;
}

td:hover .ways {
  opacity: 1;
}